p {
  padding-top: 5px;
  text-align: center;
  color: #010101;
}

.alert {
  padding: 0.25rem 1.25rem !important;
  border: 1px solid transparent !important;
}

.exporttoexcel {
  color: #ffffff;
  padding-left: 3px;
  padding-right: 3px;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  font-size: 15px;
  text-align: center;
}

.selectreport {
  width: 300px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  font-size: 15px;
}

input,
button,
select,
optgroup,
textarea {
  font-size: inherit !important;
}

.search-container {
  float: right;
  margin-right: 4px;
}

.topnav input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

@media screen and (max-width: 600px) {
  .search-container {
    float: none;
  }
  input[type="text"] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  input[type="text"] {
    border: 1px solid #ccc;
  }
}

.demographics {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.panel-title {
  padding: 10px;
  color: var(--main-color);
}
