.mycontainer {
  background-image: url(../../../assets/login.jpeg);
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

/* On screens that are 600px wide or less */
@media screen and (max-width: 600px) {
  .logo img {
    width: 60px;
    height: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .header {
    padding: 40px 25px;
    position: relative;
    z-index: 9;
  }

  .wrapper {
    width: 100%;
    height: 100vh;
    background-image: url(../../../assets/login.jpeg);
    background-position: center;
    background-size: cover;
  }

  .wrapper::after {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .login-box-outer {
    width: 300px;
    margin-top: 50px;
    padding: 30px;
    position: relative;
    z-index: 99;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 255);
    box-sizing: border-box;
  }

  .login-box-outer h1 {
    font-size: 22px;
    color: #1c1d1f;
    text-transform: capitalize;
    margin-top: 0;
  }

  .login-box-outer input {
    height: 30px;
    width: 100%;
    border-radius: 3px;
    background: #fff;
    color: #1c1d1f;
    border: 1px solid #1c1d1f;
    padding-left: 15px;
    box-sizing: border-box;
  }

  .input-wrap {
    margin-bottom: 25px;
  }

  .login-box-outer input::placeholder,
  .login-box-outer input::-webkit-placeholder {
    color: #1c1d1f;
    opacity: 1;
  }

  input:focus {
    outline: none !important;
  }

  .input-wrap button {
    height: 30px;
    width: 100%;
    background: var(--main-color);
    border: none;
    border-radius: 3px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
  }

  .remember-help {
    display: flex;
    justify-content: space-between;
    color: #1c1d1f;
    font-size: 11px;
  }

  .remember-help input {
    width: 12px;
    height: 12px;
  }

  .remember {
    display: flex;
    align-items: center;
  }

  .new-to-izon p a {
    color: #1c1d1f;
    text-decoration: none;
    display: inline-block;
    margin-left: 10px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 602px) {
  .logo img {
    width: 80px;
    height: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .header {
    padding: 15px 30px;
    position: relative;
    z-index: 9;
  }

  .wrapper {
    width: 100%;
    height: 100vh;
    background-image: url(../../../assets/login.jpeg);
    background-position: center;
    background-size: cover;
  }

  .wrapper::after {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .login-box-outer {
    margin-top: 90px;
    max-width: 450px;
    padding: 30px;
    position: relative;
    z-index: 99;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 255);
    box-sizing: border-box;
  }

  .login-box-outer input {
    height: 50px;
    width: 100%;
    border-radius: 3px;
    background: #fff;
    color: #1c1d1f;
    border: 1px solid #1c1d1f;
    padding-left: 15px;
    box-sizing: border-box;
  }

  .input-wrap {
    margin-bottom: 25px;
  }

  .login-box-outer input::placeholder,
  .login-box-outer input::-webkit-placeholder {
    color: #1c1d1f;
    opacity: 1;
  }

  input:focus {
    outline: none !important;
  }

  .input-wrap button {
    height: 50px;
    width: 100%;
    background: var(--main-color);
    border: none;
    border-radius: 3px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
  }

  .remember-help {
    display: flex;
    justify-content: space-between;
    color: #1c1d1f;
    font-size: 12px;
  }

  .remember-help input {
    width: 14px;
    height: 14px;
  }

  .remember {
    display: flex;
    align-items: center;
  }

  .new-to-izon p a {
    color: #1c1d1f;
    text-decoration: none;
    display: inline-block;
    margin-left: 10px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .logo img {
    width: 90px;
    height: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .header {
    padding: 40px 50px;
    position: relative;
    z-index: 9;
  }

  .wrapper {
    width: 100%;
    height: 100vh;
    background-image: url(../../../assets/login.jpeg);
    background-position: center;
    background-size: cover;
  }

  .wrapper::after {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .login-box-outer {
    margin-top: 80px;
    max-width: 450px;
    padding: 30px;
    position: relative;
    z-index: 99;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 255);
    box-sizing: border-box;
  }

  .login-box-outer input {
    height: 50px;
    width: 100%;
    border-radius: 3px;
    background: #fff;
    color: #1c1d1f;
    border: 1px solid #1c1d1f;
    padding-left: 15px;
    box-sizing: border-box;
  }

  .input-wrap {
    margin-bottom: 25px;
  }

  .login-box-outer input::placeholder,
  .login-box-outer input::-webkit-placeholder {
    color: #1c1d1f;
    opacity: 1;
  }

  input:focus {
    outline: none !important;
  }

  .input-wrap button {
    height: 50px;
    width: 100%;
    background: var(--main-color);
    border: none;
    border-radius: 3px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
  }

  .remember-help {
    display: flex;
    justify-content: space-between;
    color: #1c1d1f;
    font-size: 12px;
  }

  .remember-help input {
    width: 15px;
    height: 15px;
  }

  .remember {
    display: flex;
    align-items: center;
  }

  .new-to-izon p a {
    color: #1c1d1f;
    text-decoration: none;
    display: inline-block;
    margin-left: 10px;
  }
}
