<app-sidebar></app-sidebar>
<div class="main-content">
  <header>
    <div class="search-wrapper">
      <!-- <span class="ti-search"></span>
      <input type="search" placeholder="Search" /> -->
    </div>

    <div class="social-icons">
      <!-- <span class="ti-bell"></span>
      <span class="ti-comment"></span> -->
      <div class="dropdown" *ngFor="let profile of pic">
        <img src="https://offip.co.za/Backend{{profile.image}}" alt="No pic">
        <div class="dropdown-content">
          <ul class="menu">
            <li>
              <a>
                <span class="ti-user"></span>
                <span>{{username}}</span>
              </a>
            </li>
            <li>
              <a [routerLink]="['/account']">
                <span class="ti-settings"></span>
                <span>Account</span>
              </a>
            </li>
            <li>
              <a (click)="logout($event)" style="cursor: pointer;">
                <span class="ti-power-off"></span>
                <span>Sign Out</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <main>
    <h2 class="dash-title">Upload Report</h2>
    <section class="recent">

      <!-- Editable table -->
      <div class="card">
        <div class="card-body">
          <div id="table" class="table-editable">
            <span class="table-add float-right mb-3 mr-2" style="color:black">
              <a href="#addReport" class="text-success" data-toggle="modal">
                <i class="fas fa-upload fa-1x" aria-hidden="true"></i>
              </a>&nbsp;Upload
            </span>
            <table class="table table-bordered table-responsive-md table-striped text-center">
              <thead>
                <tr>
                  <th class="text-center">Id</th>
                  <th class="text-center">Survey Name</th>
                  <th class="text-center">Report</th>
                  <th class="text-center">Creator</th>
                  <th class="text-center">Date</th>
                  <th class="text-center">Remove</th>
                </tr>
              </thead>
              <tbody>
                <!-- This is our clonable table line -->
                <tr *ngFor="let report of reports">
                  <td class="pt-3-half" contenteditable="true">{{report?.id}}</td>
                  <td class="pt-3-half" contenteditable="true">{{report?.survey}}</td>
                  <td class="pt-3-half" contenteditable="true">{{report?.file}}</td>
                  <td class="pt-3-half" contenteditable="true">{{report?.creator}}</td>
                  <td class="pt-3-half" contenteditable="true">{{report?.date}}</td>
                  <td>
                    <span class="table-remove">
                      <a href="#deleteReport" data-toggle="modal">
                        <button type="button" class="btn btn-danger btn-rounded btn-sm my-0"
                          (click)="deleteReport(report?.survey)">
                          <i class="material-icons" data-toggle="tooltip" title="Delete"><i class="fa fa-trash"></i></i>
                        </button>
                      </a>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- <div class="clearfix">
              <div class="hint-text">Showing <b>2</b> out of <b>25</b> entries</div>
              <ul class="pagination">
                <li class="page-item disabled"><a href="#">Previous</a></li>
                <li class="page-item"><a href="#" class="page-link">1</a></li>
                <li class="page-item"><a href="#" class="page-link">2</a></li>
                <li class="page-item"><a href="#" class="page-link">3</a></li>
                <li class="page-item"><a href="#" class="page-link">4</a></li>
                <li class="page-item"><a href="#" class="page-link">5</a></li>
                <li class="page-item"><a href="#" class="page-link">Next</a></li>
              </ul>
            </div> -->
          </div>
        </div>
      </div>
      <!-- Editable table -->

      <!-- Edit Modal HTML -->
      <div id="addReport" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <form #AddReportForm=ngForm (ngSubmit)="onSubmit()">
              <div class="modal-header">
                <h4 class="modal-title">Upload Survey Report</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                  onClick="window.location.reload();">&times;</button>
              </div>
              <div class="alert alert-danger" [hidden]="!error">
                {{error}}
              </div>
              <div class="alert alert-success" [hidden]="!success">
                {{success}}
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label>Search or Select Survey</label>
                  <input list="survey" name="survey" class="form-control" [(ngModel)]="form.survey" required>
                  <datalist id="survey">
                    <option *ngFor="let survey of surveys">{{survey.name}} </option>
                  </datalist>
                </div>
                <div class="form-group">
                  <input type="file" accept="application/pdf" class="form-control-file" id="exampleFormControlFile1"
                    (change)="onFileSelected($event)" required>
                  <br />
                </div>
                <div *ngIf="selectedFile" class="progress my-3">
                  <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                    attr.aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100"
                    [ngStyle]="{ width: progress + '%' }">
                    {{ progress }}%
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                <input type="submit" class="btn btn-success" value="Add" id="adduser" [disabled]="!AddReportForm.valid">
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Delete Modal HTML -->
      <div id="deleteReport" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <form>
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>
              <div class="modal-body">
                <p>Report Successfuly deleted?</p>
              </div>
              <div class="modal-footer">
                <input type="button" class="btn btn-success" data-dismiss="modal" value="ok" id="delete">
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
