<input type="checkbox" id="sidebar-toggle">
<div class="sidebar">
  <div class="sidebar-header">
    <h3 class="brand">
      <span class="ti-unlink"></span>
      <span>OFFIP</span>
    </h3>
    <label for="sidebar-toggle" class="ti-menu-alt"></label>
  </div>

  <div class="sidebar-menu">
    <ul>

      <li [routerLinkActive]="['active']">
        <a [routerLink]="['/report']">
          <span class="ti-bar-chart-alt"></span>
          <span>Report Data</span>
        </a>
      </li>

      <li [routerLinkActive]="['active']">
        <a [routerLink]="['/upload']">
          <span class="ti-upload"></span>
          <span>Upload Report</span>
        </a>
      </li>

      <li [routerLinkActive]="['active']">
        <a [routerLink]="['/account']">
          <span class="ti-settings"></span>
          <span>Account</span>
        </a>
      </li>
    </ul>
  </div>
</div>
